*{
    margin: 0;
    padding:0;
}
.container{
    font-family: 'Raleway', sans-serif;
    width: 95%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: grid;
    grid-template-columns: 67% 33%;
    grid-template-rows: repeat(5,0.1fr);
    grid-template-areas: 
            "nav nav"
            "header header"
            "accommodations aside"
            "activities activities"
            "footer footer";
    grid-gap: 0.5rem;        
}
nav{
    grid-area: nav;
    height: 10vh;
    margin: 10px 0 0 0;   
}
.logo{
    float: left;
    width: 50px;
    
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    
    
}
.nav-bar ul li{
    

    list-style-type: none;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
}
.sign-up a{
    color:#1E90FF;
    font-weight: bold;
}
.sign-up2{
    display: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.description{
    display: flex;
    flex-direction:column;
    height: fit-content;
    line-height: 1.3;
    margin-bottom: 22px;
}

.desc_2{
    margin-top:5px;
    font-weight: 100;
    font-size: 15px;
}
.desc_1{
    font-weight:bold;
    font-size: large;
    }
.serach{
    width: auto;
    height: 40px;
    display:flex;
    flex-direction: row;
    border: none;
}    
.serach-btn1{
    background-color:  #0065FC;
    color: white;
    outline: none;
    font-size: 15px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 0 0 -10px;
    border:none;
} 
.serach i{
    display: none;
}
.input{
    width: 200px;
    outline:none;
    font-size: 15px;
    padding:10px;
    border:#ececec solid 1px;
    color: black;
    
}
.serach img{
    
    width: 27px;
    background-color:#ececec;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:none;
    padding: 11px;
}
.filter-bar{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px 0 20px 0;
    gap:10px;
    
    
}
.filter{
    display: inline-block;
  
    margin: auto 10px;
}

.tag{
        display:flex;
        flex-direction: row;
        border: 1px solid #ddd;
        border-radius: 40px;
        height: 40px;
        line-height: 40px;
        
}
.tag-icon {
    text-align: center;
    border-radius: 40px;
    width: 40px;
    display: inline-block;
    background-color:#DEEBFF;
    color: #0065FC;

}
.tag-content {
    
    padding: 0 10px;
    color:black;
    font-size: large;
    font-weight: bold;
    
  }
  .info{
      
      display: flex;
      align-items: center;
    
  }
.info-icon{
    background-color:white;
    color: #0065FC;
    border: #DEEBFF solid 2px;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    
}  
.info-content{
    display:inline-block;
    width: fit-content;
    margin: auto;
    margin: 10px;
}
.accommodations{
    width: 97%;
    background-color: 	#ececec;
    height:100vh;
    border-radius: 20px;
    grid-area:accommodations;
}
.section-title{
    display:inline-block;
    margin: 30px 0 5px 30px;
    font-weight: 700;
}
aside{
    background-color: 	#ececec;
    width: 100%;
    height:100vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    grid-area: aside;
}

.activities{
    background-color:white;
    width: 100%;
    height:76vh;
    border-radius: 20px;
    grid-area:activities;
}
footer{
    background-color: 	#ececec;
    width: 100%;
    height:fit-content;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}
header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    
}
.card{
    width: 30%;
    background-color: white;
    border-radius: 20px;
    margin: 10px 0px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 3px 12px 0 rgba(0,0,0,0.19);
    height: 200px;
    
}
.card img{
    width: 97%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display:block;
    margin: auto;
    padding-top: 3px;
}
.card-accommodations{
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5em;
}
.aside-description{
    display: flex;
    flex-direction: column;
    padding: 5px 13px;
    justify-content: space-between;
}
.stars{
    display: flex;
    flex-direction: row;
}
.cards{
    margin: 20px 10px 20px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.show-more{
    
    margin: 10px 0 10px 30px;
}
.cards-aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-aside{
    width: 80%;
    height: 140px;
    background-color: white;
    border-radius: 20px;
    margin: 10px 25px 10px 35px;
    display:flex;
    flex-direction: row;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 3px 12px 0 rgba(0,0,0,0.19);
    border:white solid 3px;
    
}
.card-aside img{
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cards-activities{
    display: grid;
    grid-template-columns:repeat(4,25%);
    grid-template-rows:1fr 1fr;
    height: 65vh;
    grid-template-areas: 
    "item1 item2 item4 item5"
    "item1 item3 item4 item6"  
}
.card-activities{
    height: 60vh;
    background-color: white;
    margin: 0px 20px;
    border-radius: 20px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 3px 12px 0 rgba(0,0,0,0.19);
}
.card-activities a img{
    width: 100%;
    height: 85%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}
.acc_title{
    margin: 18px 0px 0px 30px;
 }
.card-3v2{
    height: 30vh;
    background-color: white;
    margin: 0px 20px;
    border-radius: 20px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 3px 12px 0 rgba(0,0,0,0.19);
}
.card-3v2 img{
    width: 100%;
    height: 75%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.activities-description{
    padding: 10px 16px;

}
.footer-content{
    
    width: 30%;
    margin: 30px;
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.footer-content{
    line-height: 2;
}
.checked{
    color: cornflowerblue;
}
.section-title-3{
    margin: 15px 0 22px 20px;
    font-weight: 700;
}
.btn-filter{
    border: 1px solid #ddd;
    border-radius: 40px;
    outline: none;
    background-color: white;
    margin: 0 12px;
}
.accommodations-btn {
    border-top-color: #1E90FF;
    border-top-style: solid;
    padding-top: 20px;
    border-top-width: 2px;
}
.btn-filter:hover{
    background-color: rgb(140, 187, 224);
    }
.card:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.card-activities:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.card-3v2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.title-aside{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content:space-between;
    width: 85%;
    font-weight: 700;
}
.card-aside:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
@media only screen and (max-width:767px){
    .container{
        width: 100%;
        height: 100%;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
    }
    footer{
        display:flex;
        flex-direction: column;
        width: 112%;
        height: auto;
        margin: 14PX 0px 0px -16px;
        order: 6;
        
    }
    
    .section-title-3{
        font-size: large;
    margin: 3px 0 6px 0px;

    }
    aside{
        
        width:112%;
        height: 37em;
        margin: 0px 0px 0px -15px;
        order: 3;
        border-radius: 0px;
    }
    .cards-aside{
        align-items: center;
    }
    .btn-filter{
        margin: 7px 7px;
    }
    .card-aside{
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 3px 12px 0 rgba(0,0,0,0.19);
        width: 86%;
    }
    .navphone{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}
@media only screen and (max-width:767px){
    .activities{
        height:fit-content;
        display: flex;
        flex-direction: column;
        order: 5;
       
    }
    .cards-activities{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 23px;
        height: fit-content;
    }
    .card-activities{
        height: 200px;
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 3px 12px 0 rgba(0,0,0,0.19);
    }
    .card-activities a img{
        height: 75%;
    } 
    .card-3v2{
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 3px 12px 0 rgba(0,0,0,0.19);
    }

}
@media only screen and (max-width:767px){
    .accommodations{
        
        height: fit-content;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        order: 4;
    }
    .cards{
        display: flex;
        flex-direction: column;
       
    }
    .card{
        width: 109%;
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 3px 12px 0 rgba(0,0,0,0.19);
        margin: 10PX 0px 0px -15px;
    }
    .section-title{
        font-size: large;
    }
    .acc_title{
       margin: 15px 0px -4px 0px;
    }
}
@media only screen and (max-width:767px){
  nav{
      
      order: 1;
      display: flex;
      height: fit-content;
      flex-wrap: wrap;
  }
  .logo{
      width: 100px;
      height: 40px;
      display: inline;
  }
  header{
      
      order: 2;
      
  }
  .description{

    height: fit-content;
    line-height: 1.3;
    margin-bottom: 22px;
  }
  .serach{
      
      display: flex;
  }
  .serach img{
      width: 22px;
      padding: 12px;
      border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
.filter{
    
    margin: 0;
    }

.buttons{
    display: flex;
    flex-wrap: wrap;
   
    }
.desc_1{
    font-size: x-large;
    margin-top:20px;
    }
.desc_2{
    font-size: 18px;
    }
.footer-content{
    width: fit-content;
    margin: 15px 0 15px 30px;
    }
.serach-btn1{
        display: none;
    }
.serach i{
    display:inline;
    background-color:  #0065FC;
    color: white;
    outline: none;
    font-size: 17px;
    padding: 10px 10px 0px 15px;
    border-radius:12px;
    border:none;
    height: initial;
    width: 22px;
}    
.sign-up{
    display: none;
}
.sign-up2{
    display: inline;
    padding-top: 18px;
    color:#1E90FF;
    font-weight: 900;
}
.activities-btn{
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    width: 50%;
    margin: 10px;
    font-size: 14px;
    text-align: center;
}
.nav-bar{
    margin: 0px -15px 0px -15px;
    width: 107%;
    justify-content: center;
}
.accommodations-btn{
    border-bottom-color: #1E90FF;
    border-bottom-style: solid;
    border-top-style:none;
    font-size: 14px;
    color: #1E90FF;    
    width: 50%;
    text-align: center;
}
.nav-bar ul{
    display: flex;
    gap:18px;
    flex-wrap: nowrap;
    width: 100%;
  
}
.nav-bar ul li{
    margin: 24px -20px 0px 0px;
    font-size: 15px;
}
.card-activities{
    margin: -7PX 5px 0px 5px;
    width: 102%;
}
.card-3v2{
    margin: -7PX 5px 0px 5px;
    width: 102%;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
    .card-accommodations{
        padding: 8px 10px;
    }
    .accommodations{
        height: fit-content;
        order: 4;
        width: 100%;
    }
    aside{
    
        height: 11em;
        order: 3;
        width: 100%;
        margin-bottom: 10px;
    }
    .cards-aside{
        display: flex;
        flex-direction: row;
    }
    .title-aside{
    width: 93%;
    }
    .section-title{
        margin: 15px 0px 10px 20px ;
       }
  .aside-description {
    padding: 0px 8px;
    justify-content: space-around;
    font-size: smaller;
  }
  .cards{
      margin: 0px;
      gap: 13px;
  }
  .card{
        box-shadow: 1px 8px 6px -6px black;
      }
  
  .card-aside{
    width: 30%;
    height: 107px;
    margin: 5px 0px 10px 9px;
    box-shadow: none;
  }
  .buttons{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .activities-description{
    padding: 2px 0px 0px 10px;
    font-size: 88%;
  }
.container{
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column; 
    }
.activities{
    order: 5;
    height: 76vh;
}
footer{
    order: 6;
    margin-bottom: 0px;
    margin-left: -15px;
    width: 104%;
}
.footer-content{
    margin: 14px 25px;
}
.section-title-3{
    margin:15px 0 20px 20px;
    font-weight: 700;
}    
.description{
    height: fit-content;
    line-height: 1.3;
    margin-bottom: 22px;
}
}

@media only screen and (min-width: 992px)/*(max-width:1023)*/{
    .card-accommodations{
        padding: 5px 7px;

    }  
    aside{
        height: 86vh;
    }
    .accommodations{
        height: 86vh;
    }
}
@media only screen and (min-width: 1024px){
    .card-accommodations{
        padding: 7px 10px;
    }
    .accommodations{
        height: 37em;
    }
    .aside-description{
        padding: 7px 6px;
    }
    aside{
        height: 37em;
    }
}
