* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-columns: 67% 33%;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas:
    "nav nav"
    "header header"
    "accommodations aside"
    "activities activities"
    "footer footer";
}
/*Nav Bar*/
nav {
  grid-area: nav;
  margin: 15px 40px;
}
nav img {
  float: left;
  padding-top: 20px;
}
nav ul {
  float: right;
}
nav ul li {
  float: left;
  list-style-type: none;
  padding: 35px 11px 12px 11px;
  margin-left: 50px;
  font-weight: 500;
  border-top: white solid 1px;
}
.sign-up a {
  color: #1e90ff;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: inherit;
}
.accommodations-btn {
  color: #1e90ff;
  border-top: #0065fc solid 1px;
}
header {
  grid-area: header;
  margin: 15px 40px;
  order: 2;
}
header h6 {
  font-size: small;
  line-height: 3;
  opacity: 60%;
}
/*Search Bar*/
form {
  margin-top: 15px;
  display: flex;
  flex-wrap: nowrap;
}
.placeholder::-webkit-input-placeholder{
    font-weight: 800;
    color:black;
}
form > input,
form i:first-child {
  border: #ececec solid 1px;
  padding: 13px;
  outline: none;
}
form > i:first-child {
  background-color: #ececec;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
}
form i:last-child {
  display: none;
}

form input:nth-child(3) {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 700;
  border: none;
}

.filter-bar {
  margin: 30px 0px;
}
.filter-bar h3 {
  margin: auto 0;
  display: inline;
}
.btns-filters {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0 0 30px;
}

.btn-filter {
  border: 2px solid #ddd;
  border-radius: 40px;
  outline: none;
  background-color: white;
  transition: background-color, transform 0.5s ease-in-out;
  height: 45px;
  position: relative;
}
.btn-filter:hover {
  background-color: #1e90ff;
  transform: scale(1.15);
}
.filter-bar i {
  padding: 16px;
  border-radius: 50%;
  display: inline-block;
  background-color: #deebff;
  color: #0065fc;
  position: absolute;
  left: -10px;
  top: -1px;
}
.filter-bar span {
  padding: 0px 15px 0 51px;
  font-weight: bold;
  font-size: larger;
}

.info i {
  background-color: white;
  color: #0065fc;
  border: #deebff solid 2px;
  border-radius: 50%;
  padding: 5px 10px;
}
.info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.info span:nth-child(2){
    font-weight:500;
}

.accommodations {
  width: 90%;
  height: fit-content;
  margin-left: 40px;
  background-color: #ececec;
  border-radius: 20px;
  grid-area: accommodations;
}
.section-title {
  margin: 30px 0 20px 30px;
  font-weight: 700;
}
.empty{
    color: #ccc;
}
.section-title-aside {
  width: 85%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.section-title i {
  float: right;
  font-size: x-large;
}
aside {
  margin-right: 40px;
  background-color: #ececec;
  border-radius: 20px;
  grid-area: aside;
}
.price__2{
    display: none;
}
.cards-aside {
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
}

.activities {
  margin: 15px 40px;
  grid-area: activities;
}
.activities h3{
  margin-left: 0;
}
footer {
  background-color: #ececec;
  grid-area: footer;
  display: flex;
  margin-top: 40px;
}

.card {
  width: 29.9%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  transition: box-shadow 0.5s ease-in-out;
}
.card img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 3px;
}
.card-accommodations {
  padding: 0px 0px 0px 15px;
  line-height: 1.5;
}
.aside-description {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 10px;
  justify-content: space-around;
}

.stars {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}
.cards {
  margin: 0 25px 40px 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}
.show-more {
  margin: 0px 0 40px 30px;
}
.card-aside {
  height: 140px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  border: white solid 3px;
  transition: box-shadow 0.5s ease-in-out;
}
.card-aside:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.card-aside img {
  width: 40%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cards-activities {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 4%;
  GRID-ROW-GAP: 25PX;
  grid-template-areas:
    "item1 item2 item4 item5"
    "item1 item3 item4 item6";
}
.card-activities {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.5s ease-in-out;
}
.card-activities a img {
  width: 100%;
  height: 88%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card-3v2 {
  height: 30vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.5s ease-in-out;
}
.card-3v2 img {
  width: 100%;
  height: 75%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.activities-description {
  padding: 10px 16px;
}
.footer-content {
  width: 30%;
  padding: 30px;
  line-height: 2;
  margin: 10px 0 13px 15px;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
.checked {
  color: cornflowerblue;
}
.section-title-3 {
  margin: 15px 0 22px 20px;
  font-weight: 700;
}
.card:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.card-activities:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.card-3v2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    flex-direction: column;
    order: 6;
    margin-top: 25px;
    padding-bottom: 30px;
  }

  .section-title-3 {
    font-size: large;
    margin: 3px 0 6px 0px;
  }
  .section-title-aside{
    margin-left: 15px;
    width: 92%;
  }
  aside {
    order: 3;
    border-radius: 0px;
    margin: 0;
  }
  .cards-aside {
    margin: 0px 20px 40px 20px;
    gap: 15px;
  }
  .card-aside {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
    
  }
}
@media only screen and (max-width: 767px) {
  .activities {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 40px;
    order: 5;
  }
  .activities h3{
    margin: 0 0 0 20px;
    font-size: 20px;
  }
  .cards-activities {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    gap: 25px;
  }
  .card-activities {
    height: 30vh;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
    margin: 0;
  }
  .card-activities a img {
    height: 75%;
  }
  .card-3v2 {
    box-shadow:0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  }
}
@media only screen and (max-width: 767px) {
  .accommodations {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0px;
    background-color: #fff;
    order: 4;
  }
  .accommodations h3 {
      font-size: 20px;
      margin-left: 20px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    GAP: 15px;
  }
  .card {
    width: 100%;
    margin: 0px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  }
  .section-title {
    font-size: large;
  }
  .show-more{
    margin: 30px 0 0px 20px;
  }
}
@media only screen and (max-width: 767px) {
  nav {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    position: relative;
    height: 120px;
  }
  header {
    margin: 30px 15px;
  }
  .price__1{
      display: none;
  }
  .price__2{
      display: inline;
  }
  .stars{
      margin-top: 5px;
  }
  header h3{
    font-size: 23px;
  }
  header h6{
    font-size: 16px;
    font-weight: 500;
    opacity: 80%;
  }
  .filter-bar h3{
      font-size: large;
  }
  .btns-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 0px;
  }
  .footer-content {
    width: fit-content;
    padding: 0px 0 0 0px;
    margin: 30px 0 0px 20px;
  }
  .serach i {
    display: inline;
    background-color: #0065fc;
    color: white;
    outline: none;
    font-size: 17px;
    padding: 10px 10px 0px 15px;
    border-radius: 12px;
    border: none;
    width: 22px;
    margin-left: -10px;
  }
  .sign-up {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-top: 0;
  }
  .accommodations-btn,
  .activities-btn {
    width: 50%;
    margin: 0px;
    text-align: center;
    bottom: 0px;
    position: absolute;
  }
  .activities-btn {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    right: 0px;
  }
  .accommodations-btn {
    border-bottom-color: #0065fc;
    border-bottom-style: solid;
    border-top-style: none;
    color: #1e90ff;
    left: 0px;
  }
  nav img {
    position: absolute;
    top: 5px;
    left: 10px;
    padding-top: 0px;
  }
  form i:last-child {
    display: inline;
    padding: 13px;
    background-color: #0065fc;
    margin-left: -10px;
    color: white;
    border-radius: 10px;
  }
  form input:nth-child(3) {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1211px) {
  .accommodations {
    height: fit-content;
    order: 4;
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
  }
  .btns-filters {
    display: flex;
    margin: 10px 0 0 10px;
  }
  nav{
      margin: 15px;
  }
  header{
      margin: 15px;
  }
  aside {
    order: 3;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
  }
  .cards-aside {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 10px 15px 10px;
  }
  .section-title-aside {
    width: 95%;
  }
  .section-title {
    margin: 15px 0px 15px 20px;
  }
  .aside-description {
    font-size: smaller;
  }
  .card-aside {
    width: 30%;
    height: 107px;
    margin: 5px 0px 10px 9px;
    box-shadow: none;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .activities {
    order: 5;
    margin-left: 15px;
    margin-right: 15px;
  }
  .activities-description {
    font-size: 12px;
    padding: 6px 0px 0px 10px;
  }
  footer {
    order: 6;
    margin-top: 25px;
  }
  .footer-content {
    margin: 14px 25px;
  }
  .section-title-3 {
    margin: 15px 0 20px 20px;
    font-weight: 700;
  }
  .description {
    height: fit-content;
    line-height: 1.3;
    margin-bottom: 22px;
  }
}
